name: frontend Pipeline

on:
  push:
    branches: [main]

env:
  IMAGE_TAG: ${{ github.sha }}
  AWS_REGION: us-east-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Docker
      run: |
        sudo apt-get update
        sudo apt-get install -y docker.io

    # --- AWS Auth & ECR Login ---
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    # --- Build & Push Docker Images ---
    - name: Build & Push Frontend Image
      run: |
        docker build -t ${{ secrets.ECR_FRONTEND_REPO }}:${{ env.IMAGE_TAG }} .
        docker push ${{ secrets.ECR_FRONTEND_REPO }}:${{ env.IMAGE_TAG }}

    # # --- deploy to EC2 docker containers ---
    # - name: Deploy to EC2 Instances
    #   uses: appleboy/ssh-action@v0.1.6
    #   with:
    #     host: ${{ secrets.EC2_HOST }}
    #     username: ${{ secrets.EC2_USER }}
    #     key: ${{ secrets.EC2_SSH_KEY }}
    #     script: |
    #       docker pull ${{ secrets.ECR_FRONTEND_REPO }}:${{ env.IMAGE_TAG }}

    #       docker stop frontend || true
    #       docker rm frontend || true
    #       docker run -d --name frontend -p 80:80 ${{ secrets.ECR_FRONTEND_REPO }}:${{ env.IMAGE_TAG }}
